@model Retain.Models.LoginViewModel

@{
    ViewBag.Title = "Log in";
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

<div class="ui one column page grid">
    <div class="row">
        <div class="column">
            @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)
                <div class="ui form segment">
                    <div class="field">
                        @Html.LabelFor(m => m.UserName)
                        <div class="ui left labeled icon input">
                            @Html.TextBoxFor(m => m.UserName)
                            <i class="user icon"></i>
                        </div>
                        @Html.ValidationMessageFor(m => m.UserName)
                    </div>
                    <div class="field">
                        @Html.LabelFor(m => m.Password)
                        <div class="ui left labeled icon input">
                            @Html.PasswordFor(m => m.Password)
                            <i class="lock icon"></i>
                        </div>
                        @Html.ValidationMessageFor(m => m.Password)
                    </div>
                    <div class="field">
                        <div class="ui checkbox">
                            @Html.CheckBoxFor(m => m.RememberMe)
                            @Html.LabelFor(m => m.RememberMe)
                        </div>
                    </div>
                    <div class="ui error message">
                        <div class="header">We noticed some issues</div>
                    </div>
                    <input type="submit" value="Submit" class="ui blue submit button" />
                    <p>
                        @Html.ActionLink("Register", "Register") if you don't have a local account.
                    </p>
                </div>
            }
        </div>
    </div>
</div>